@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


@layer base {
    body,
    html {
      height: 100%;
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
    }
  
    * {
      box-sizing: border-box;
    }
  }
  